/* ===========================
  Navbar
=========================== */
.Navbar {
  position: fixed;
  width: 100%;
  display: flex;
  left: 0;
  justify-content: space-between;
  @include scale-property(top, 60px, 35px, 20px);
  @include scale-property(padding-left, 40px, 30px, 20px);
  @include scale-property(padding-right, 40px, 30px, 20px);
}

/* ===========================
  Elements
=========================== */
.Navbar__ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  @for $i from 0 through 5 {
    .Navbar__li:nth-child(#{$i}) {
      animation-delay: $i * 50ms;
    }
  }
}

.Navbar__li {
  margin-right: 30px;
}

.Navbar__link {
  position: relative;
  text-decoration: none;
  color: $c-black;
  transition: color $t-standard;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $c-black;
    opacity: 0;
    transition: background-color $t-standard, opacity $t-standard;
  }

  &.is-active {
    &:before {
      opacity: 1;
    }
  }

  &:hover {
    color: $c-grey;

    &:before {
      background-color: $c-grey;
    }
  }
}

.Navbar__social {
  animation-delay: 250ms;

  .Navbar__social-link:first-of-type {
    margin-right: 6px;
  }
}

.Navbar__social-link {
  color: $c-black;
  transition: $t-standard;

  &:hover {
    color: $c-grey;
  }
}

.Navbar__social-icon {
  height: 16px;
}
