@font-face {
  font-family: 'vogueregular';
  src: url('./fonts/vogue-webfont.woff2') format('woff2'),
       url('./fonts/vogue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brownregular';
  src: url('./fonts/brown-regular-webfont.woff2') format('woff2'),
       url('./fonts/brown-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'brownregular', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
