/* ========================================
  Animations
======================================== */
.a-fade-in-up {
  animation: fadeInUp 2s 0s cubic-bezier(.19,1,.22,1) forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0,30px,0);
  }
  100% {
    opacity: 1;
    transform: none
  }
}